[submodule "practica2"]
	path = Practicas/practica2
	url = https://github.com/Yahyalimouni/practica2.git
[submodule "Practicas/practica2.2"]
	path = Practicas/practica2.2
	url = https://github.com/Yahyalimouni/practica2.2.git
[submodule "Practicas/practica2.3"]
	path = Practicas/practica2.3
	url = https://github.com/Yahyalimouni/practica2.3
