[submodule "practica2"]
	path = Practicas/practica2
	url = https://github.com/Yahyalimouni/practica2.git
[submodule "Practicas/practica2.2"]
	path = Practicas/practica2.2
	url = https://github.com/Yahyalimouni/practica2.2.git
[submodule "Practicas/practica2.3"]
	path = Practicas/practica2.3
	url = https://github.com/Yahyalimouni/practica2.3
[submodule "Practicas/practica2.4"]
	path = Practicas/practica2.4
	url = https://github.com/Yahyalimouni/practica2.4
[submodule "Practicas/practica2.5"]
	path = Practicas/practica2.5
	url = https://github.com/Yahyalimouni/practica2.5
[submodule "practica6"]
	path = practica6
	url = https://github.com/Yahyalimouni/practica6.git
[submodule "Practicas/practica6"]
	path = Practicas/practica6
	url = https://github.com/Yahyalimouni/practica6.git
[submodule "Practicas/practica3.3.4"]
	path = Practicas/practica3.3.4
	url = https://github.com/Yahyalimouni/practica3.4.git
