[submodule "practica2"]
	path = Practicas/practica2
	url = https://github.com/Yahyalimouni/practica2.git
[submodule "Practicas/practica2.2"]
	path = Practicas/practica2.2
	url = https://github.com/Yahyalimouni/practica2.2.git
[submodule "Practicas/practica2.3"]
	path = Practicas/practica2.3
	url = https://github.com/Yahyalimouni/practica2.3
[submodule "Practicas/practica2.4"]
	path = Practicas/practica2.4
	url = https://github.com/Yahyalimouni/practica2.4
[submodule "Practicas/practica2.5"]
	path = Practicas/practica2.5
	url = https://github.com/Yahyalimouni/practica2.5
[submodule "practica6"]
	path = practica6
	url = https://github.com/Yahyalimouni/practica6.git
[submodule "Practicas/practica6"]
	path = Practicas/practica6
	url = https://github.com/Yahyalimouni/practica6.git
[submodule "Practicas/practica3.3.4"]
	path = Practicas/practica3.3.4
	url = https://github.com/Yahyalimouni/practica3.4.git
[submodule "Practicas/practica3.5"]
	path = Practicas/practica3.5
	url = https://github.com/Yahyalimouni/practica3.5.git
[submodule "Practicas/practica-amp"]
	path = Practicas/practica-amp
	url = https://github.com/Yahyalimouni/practica-ampliacion.git
[submodule "practiva4.1"]
	path = practiva4.1
	url = https://github.com/Yahyalimouni/practiva4.1.git
[submodule "Practicas/practica4.1"]
	path = Practicas/practica4.1
	url = https://github.com/Yahyalimouni/practiva4.1.git
[submodule "Practicas/practica5.1"]
	path = Practicas/practica5.1
	url = https://github.com/Yahyalimouni/practica5.1.git
[submodule "Practicas/practica6.1"]
	path = Practicas/practica6.1
	url = https://github.com/Yahyalimouni/practica6.1.git
[submodule "Practicas/practica6.2"]
	path = Practicas/practica6.2
	url = https://github.com/Yahyalimouni/practica6.2
[submodule "Practicas/practica6.3"]
	path = Practicas/practica6.3
	url = https://github.com/Yahyalimouni/practica6.3
